.registerdiv {
  width: 320px;
  margin: 100px auto;
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  box-shadow: 2px 2px 10px grey;
  border-radius: 10px;
  background-color: #fff;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  width: 80%;
  padding: 8px;
  margin: 8px 0;
  border: 2px solid #ccc;
  border-radius: 4px;
  text-align: center;
}
