.registerdiv{
    width: 300px;
    margin: auto;
    border: 1px solid black;
    padding: 20px;
    text-align: center;     
    margin-top: 100px;
    box-shadow: 2px 2px 10px grey;      
    border-radius: 10px;


    
}
.success-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid green;
  padding: 25px;
  background-color: #e6ffe6;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  width: 320px;
}
