.book-display{
    background: #f8f9fa;
    border-radius: 12px;
    padding: 15px 20px;
    margin: 20px auto;
    width: 480px;
}
.confirmation-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.confirmation-card {
  background: white;
  padding: 25px 30px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
}
