.book-display{
    background: #f8f9fa;
    border-radius: 12px;
    padding: 15px 20px;
    margin: 20px auto;
    width: 480px;
}
.input-field{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    transition: border-color 0.3s ease;
    width: 50%;
    align-items: center;
    display: flex;
    margin-bottom: 15px;
    
}
.btn{
    background-color: #4a90e2;
    color: white;
    padding: 10px 14px;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}
.search-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap:10px;
}
.heading{
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}
.stock-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.stock-card {
  background: #fff;
  padding: 25px;
  width: 320px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease-in-out;
}

.stock-card h3 {
  margin-bottom: 10px;
}

.stock-card button {
  margin-top: 15px;
  padding: 8px 16px;
  border: none;
  background: #3498db;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}


 