.profile{
    border-radius: 8px;
    padding: 16px;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.success-card {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4BB543;
  color: white;
  padding: 15px 25px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  font-size: 16px;
  
  animation: slideIn 0.5s ease;
}