.book-display{
    background: #f8f9fa;
    border-radius: 12px;
    padding: 15px 20px;
    margin: 20px auto;
    width: 480px;
}
.input-field{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    transition: border-color 0.3s ease;
    width: 50%;
    align-items: center;
    display: flex;
    margin-bottom: 15px;
    
}
.btn{
    background-color: #4a90e2;
    color: white;
    padding: 10px 14px;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}
.search-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap:10px;
}
.heading{
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

 